<div class="card">
    <div class="card-body">
        <h5 class="card-title">Aplicación ejemplo conección api</h5>
        <h6 class="card-subtitle mb-2 text-muted">Angular 8 x Héctor Encina</h6>
        <p class="card-text">
            Se presenta un ejemplo de conexión a una <a href="https://reqres.in/">API publica de pruebas</a>, con el fin de consultar datos de usuarios ficticios a través del entorno de desarrollo de Angular.
        </p>
        <p class="card-text">
            Además se integra <a href="https://getbootstrap.com/">bootstrap</a> a la aplicación, como framework css.
        </p>

        <br>
        <span>Links de interes:</span>
        <br>
        <a href="https://angular.io/docs" class="card-link">Documentación Angular</a>
        <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" class="card-link">Documentación Boostrap</a>
    </div>
</div>