<!-- spinner que se muestra mientras la data no ha sido cargada -->
<div *ngIf="!usuario" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Fin spinner -->

<div *ngIf="usuario" class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="usuario.avatar" class="card-img" alt="avatar">
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <h5 class="card-title">
                    <a class="nav-link" href="#">
                        {{ usuario.first_name }} {{ usuario.last_name}}
                    </a>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{ usuario.email }}</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div *ngIf="usuario" class="card mb-3" style="max-width: 540px;">
    <button [routerLink]="['/usuarios']" class="btn btn-info ">Volver a lista de usuarios</button>
</div>